.videoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.videoGrid iframe {
  max-width: 100%;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 255, 0, 0.3);
}

@media (max-width: 768px) {
  .videoGrid iframe {
    width: 100%;
  }
}